@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
:root {
  --color-background: #ffffff;
  --color-text-1: #000000dd;
  --color-text-2: #000000cf;
  --color-text-3: #000000a5;
  --color-primary-1: hsl(214, 50%, 35%);
}

:root.dark-mode {
  --color-background: #2b2830;
  --color-text-1: #ffffffff;
  --color-text-2: #ffffffdd;
  --color-text-3: #ffffffc9;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
}

:root.dark-mode .light {
  display: none;
}

:root:not(.dark-mode) .dark {
  display: none;
}

:target::before {
  --scroll-offset: 25px;
  content: '';
  display: block;
  height: var(--scroll-offset);
  margin-top: calc(-1 * var(--scroll-offset));
}

@media (min-width: 800px) {
  :target::before {
    --scroll-offset: 150px;
  }
}

.pointer {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: Poppins;
}

h1 {
  font-weight: 600;
  color: var(--color-text-1);
  font-size: 2rem;
}

h2 {
  font-weight: 600;
  color: var(--color-text-2);
  font-size: 1.5rem;
  text-align: center;
}

h3 {
  font-weight: 500;
  color: var(--color-text-3);
  font-size: 1.25rem;
}

p {
  font-weight: 400;
  color: var(--color-text-2);
  font-weight: 1rem;
}

@media (min-width: 800px) {
  html {
    font-size: 1.25rem;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.125rem;
  }
}

.button {
  --border-radius: 0.5rem;
  display: inline-block;
  padding: 1em 1.5em;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  outline: none;
  background-color: var(--color-primary-1);
  border-radius: var(--border-radius);
  position: relative;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 5;
  border-radius: var(--border-radius);
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

.button:hover::before {
  background-color: #00000022;
}

@media (min-width: 800px) {
  .button {
    font-size: 1.25rem;
  }
}

.container-large {
  padding: 0 1.5rem;
  margin: 0 auto;
  max-width: 75rem;
}

.container-small {
  padding: 0 1.5rem;
  margin: 0 auto;
  max-width: 55rem;
}

.main-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 0.75rem 0;
  background-color: var(--color-background);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.main-nav > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav .logo {
  font-weight: 500;
  font-size: 1rem;
}

.main-nav img {
  height: 1.5rem;
}

@media (min-width: 800px) {
  .main-nav {
    top: 0;
    bottom: auto;
    padding: 1.75rem 0;
  }
  .main-nav .logo {
    font-size: 1.25rem;
  }
}

.section {
  height: 100vh;
}

.wiggle-icon:hover {
  -webkit-animation: wiggle 400ms ease;
          animation: wiggle 400ms ease;
}

@-webkit-keyframes wiggle {
  from {
    -webkit-transform: none;
            transform: none;
  }
  30% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes wiggle {
  from {
    -webkit-transform: none;
            transform: none;
  }
  30% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}

.head {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
      grid-template-areas: 'image' 'body';
}

.head__image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: image;
  place-self: center;
  height: 15rem;
}

.head__body {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: body;
}

.head__body p {
  margin: 1em 0;
}

@media (min-width: 800px) {
  .head {
    -ms-grid-columns: 1fr auto;
        grid-template-columns: 1fr auto;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 'body image';
  }
  .head__image {
    height: 25rem;
  }
  .head__body {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .head__body p {
    margin: 1em 0 2em;
  }
}
/*# sourceMappingURL=main.css.map */