.head {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 'image' 'body';

  &__image {
    grid-area: image;
    place-self: center;

    width: calc(min(75vw, 15rem));
  }

  &__body {
    grid-area: body;

    p {
      margin: 1em 0;
    }
  }
}

@media (min-width: 800px) {
  .head {
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    grid-template-areas: 'body image';

    &__image {
      width: 25rem;
    }

    &__body {
      align-self: center;

      p {
        margin: 1em 0 2em;
      }
    }
  }
}

.skills {
  &__overview {
    margin-top: 3rem;

    display: grid;
    gap: 1.5rem;
  }

  .card {
    height: fit-content;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 'icon title' 'icon time' 'none detail';
    column-gap: 1rem;

    i {
      grid-area: icon;
      place-self: center;

      font-size: 2rem;
      color: var(--color-primary-1);
    }

    h3 {
      line-height: 1.2;
    }

    .detail {
      grid-area: detail;

      .language {
        margin-top: 1rem;

        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-areas: 'name percentage' 'bar bar';

        .name {
          grid-area: name;

          font-weight: map-get($font-weights, 'medium');
        }

        .percentage {
          grid-area: percentage;
        }

        .bar {
          grid-area: bar;

          height: 0.3rem;
          position: relative;
          background-color: var(--color-primary-2);
          border-radius: 100vw;

          &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: var(--width);

            background-color: var(--color-primary-1);
            border-radius: 100vw;
          }
        }
      }
    }

    &:not(.selected) .detail {
      display: none;
    }
  }
}

@media (min-width: 800px) {
  .skills {
    &__overview {
      grid-template-columns: 1fr 1fr;
    }
  }
}
