.head {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 'image' 'body';

  &__image {
    grid-area: image;
    place-self: center;

    height: 15rem;
  }

  &__body {
    grid-area: body;

    p {
      margin: 1em 0;
    }
  }
}

@media (min-width: 800px) {
  .head {
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    grid-template-areas: 'body image';

    &__image {
      height: 25rem;
    }

    &__body {
      align-self: center;

      p {
        margin: 1em 0 2em;
      }
    }
  }
}
