@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
  font-family: Poppins;
}

h1 {
  font-weight: #{map-get($font-weights, 'bold')};
}

p {
  font-weight: #{map-get($font-weights, 'regular')};
}
