@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
  font-family: Poppins;
}

h1 {
  font-weight: #{map-get($font-weights, 'bold')};
  color: var(--color-text-1);
  font-size: 2rem;
}

h2 {
  font-weight: #{map-get($font-weights, 'bold')};
  color: var(--color-text-2);
  font-size: 1.5rem;

  text-align: center;
}

h3 {
  font-weight: #{map-get($font-weights, 'medium')};
  color: var(--color-text-3);
  font-size: 1.25rem;
}

p,
a {
  font-weight: #{map-get($font-weights, 'regular')};
  color: var(--color-text-2);
  font-weight: 1rem;
}

@media (min-width: 800px) {
  html {
    font-size: 1.25rem;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.125rem;
  }
}
