@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
  font-family: Poppins;
}

// * {
//   font-weight: map-get($font-weights, 'regular');
//   font-variation-settings: 'wght'
//     var(--font-weight, map-get($font-weights, 'regular'));
// }

h1 {
  font-weight: #{map-get($font-weights, 'bold')};
}

h4 {
  font-weight: #{map-get($font-weights, 'medium')};
  font-size: 1rem;
}

p {
  font-weight: #{map-get($font-weights, 'regular')};
}
