.main-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  box-shadow: 0 0 15px rgba($color: #000000, $alpha: 0.1);
  padding: 0.5rem 0.8rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    font-weight: #{map-get($font-weights, 'medium')};
    font-size: 0.8rem;
  }

  img {
    height: 1rem;
  }
}
